.chonse-messs{
    position: relative;
   
}

.mainMessenger__header__info{
    display: flex;
    height: 50px;
    border-bottom: 1px solid #e4e6eb;
    padding-bottom: 15px;
}

.mainMessenger__header__info h3{
    margin-top: 10px;
    margin-left:10px ;

}
.mainMessenger__header{
    position: fixed;
    top: 85px;
    width: 50%;
    background-color: white;
    z-index: 1000;
}

.mainMessenger__body{
    position: absolute;
    width: 100%;
    top: 65px;
    height: 425px;
    overflow-y: scroll
}

.messenger-item{
    display: flex;
    height: fit-content;
    position: relative;
    max-width: 50%;
    margin-bottom: 20px;
  
    
}

.mainMessenger__body__item__left{
    position: relative;
    flex: 1;
}
.mainMessenger__body__item__right{
    flex: 5;
}
.mainMessenger__body__item__right p{
    background-color: #e4e6eb;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #e4e6eb;
    margin-top:0px ;
    margin-bottom: 0px;
}
.mainMessenger__body__item__right span{
margin-left: 5px;
}

.mainMessenger__footer{
    height: 60px;
    width: 50%;
    padding-top: 5px;
}
.mainMessenger__body__item{
    margin-left: 15px;
}

.avartar-mess{
    position: absolute;
    bottom: 0
}

.mainMessenger__footer{
    display: flex       ;
    position: fixed;
    bottom: 0;
    background-color: white;
    border: 1px solid #e4e6eb;
}
.mainMessenger__footer__input{
    width: 95%;
    border-radius: 15px;

}
.mainMessenger__footer__input input{
    width: 80%;
    
    margin: 10px 15px;
    border-radius: 15px;

}
