.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sider-left,
.sider-right,
.content-main {
  position: fixed;
  top: 5rem;
  bottom: 0;
  overflow-y: auto;
  z-index: 10;
}

.sider-left {
  left: 0;
  width: 22rem;
}

.sider-right {
  right: 0;
  width: 20rem;
}

.content-main {
  left: 22rem; /* Độ rộng của .sider-left */
  right: 22rem; /* Độ rộng của .sider-right */
  width: auto; /* Có thể thay đổi độ rộng theo nhu cầu */
}
.content-main-1 {
  left: 22rem; /* Độ rộng của .sider-left */
  width: auto; /* Có thể thay đổi độ rộng theo nhu cầu */
  position: fixed;
  top: 5rem;
  bottom: 0;
  overflow-y: auto;
  z-index: 10;
}
